<log4net>
	<!-- Write to console -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-4timestamp [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Write to rolling log files -->
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="logs/partnerapi.log" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<datePattern value="yyyyMMdd&quot;.log&quot;" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="5MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date{ISO8601}] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Root logger sends logs to both console + file -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>
